.data-page {
	width: 100%;
	margin: 0;
	padding: 0;

	.content {
		width: 100%;
		display: flex;
		justify-content: center;

		.dashboard {
			width: fit-content;
			background: #000000;
			display: block;
			padding: 2rem 3rem 2rem 2rem;

			.header {
				width: 100%;
		        background-color: rgba(144, 211, 245, 0.393);		
                color: #ffffff;
				padding: .5rem;
				h3 {
					color: #ffffff;
					margin-right: 10rem;
				}
			}

			.data-list {
				list-style-type: none;
				text-decoration: none;
                margin: 0;
				padding: 0;
				.data-list-item {
                  color: #ffffff;
				  margin: 0;
				  margin-top: 2rem;
				}
			}
			
		}
	}
}